#WorkspaceGrid {}

#WorkspaceGridRow {
	margin-left: 14rem;
}

#WorkspaceGridRowColumn {}

#AppMenu {
	width: 14rem;
  border-right: 0px;
  padding-top: 1rem;
}

#AppMenu a.item {
  border-right: 0px;
}

/* To make menu more equivalent to Google Plus colors */
#AppMenu a.active.item {
  border-color: #e06155!important;
  color: #e06155!important;
  border-right: 0px;
}

#AppMenuHexPopLogo {}

#AppMenu > h1.AppLogo {
  font-family: 'IM Fell English SC';
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

#AppMenuSyntaxHelp {}

#Controls {}

#BooksWorkspace {
}

#HexesWorkspace {
}

#HexDefinitionInput {
}

#HomeWorkspace {
}

#TablesWorkspace {
}

#TagsWorkspace {
}

#TemplatesWorkspace {
}