.FloatingActionButton {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2)!important;
  	z-index: 6; /*to stay above linked cards, which are at z-index: 5 on mouse hover */
}

.WorkspaceGrid {}

.WorkspaceGridRow {
	margin-left: 14rem;
}

.WideColumnWorkspace {}

.NarrowColumnWorkspace {}

#TextAreaInputModalCancel {}

#TextAreaInputModalCancel.button {
	background-color: inherit;
}

#TextAreaInputModalSave {}

.TextAreaInputModal div.scrolling.content {
	padding: 0rem 1.5rem 0rem 1.5rem!important;
}

.TextAreaInputModal div.scrolling.content form div textarea {
	min-height: 15rem;
	border: 0px;
	padding: 0px;
}

.ui.modal.TextAreaInputModal>.actions {
	background: inherit;
}

#TableInputModalCancel {}

#TableInputModalCancel.button {
	background-color: inherit;
}

#TableInputModalSave {}

.TableInputModal div.scrolling.content {
	padding: 0rem 1.5rem 0rem 1.5rem!important;
}

.TableInputModal div.scrolling.content form div textarea {
	min-height: 15rem;
	border: 0px;
	padding: 0px;
}

.ui.modal.TableInputModal>.actions {
	background: inherit;
}

.TemplateCard table {
  font-family: 'IM Fell English', serif;
}

.TemplateCard table {
  font-family: 'IM Fell English', serif;
  table-layout: auto;
  border-collapse: collapse;
}
.TemplateCard table tr:nth-child(even) {
    background-color: #d0d0d0;
}
.TemplateCard table th, table td {
  padding: 2pt 8pt 1pt 8pt;
}
.TemplateCard table th {
  font-family: 'IM Fell English SC', serif;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  vertical-align: bottom;
  background-color: #ffffff;
}
.TemplateCard table td {
  text-align: left;
  vertical-align: top;
}

.TemplateCard h1,
.TemplateCard h2,
.TemplateCard h3,
.TemplateCard h4,
.TemplateCard h5,
.TemplateCard p {
  font-family: 'IM Fell English', serif;
}