.FloatingActionButton {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2)!important;
  	z-index: 6; /*to stay above linked cards, which are at z-index: 5 on mouse hover */
}

.WorkspaceGrid {}

.WorkspaceGridRow {
	margin-left: 14rem;
}

.WideColumnWorkspace {}

.NarrowColumnWorkspace {}

#TextAreaInputModalCancel {}

#TextAreaInputModalCancel.button {
	background-color: inherit;
}

#TextAreaInputModalSave {}

.TextAreaInputModal div.scrolling.content {
	padding: 0rem 1.5rem 0rem 1.5rem!important;
}

.TextAreaInputModal div.scrolling.content form div textarea {
	min-height: 15rem;
	border: 0px;
	padding: 0px;
}

.ui.modal.TextAreaInputModal>.actions {
	background: inherit;
}

#TableInputModalCancel {}

#TableInputModalCancel.button {
	background-color: inherit;
}

#TableInputModalSave {}

.TableInputModal div.scrolling.content {
	padding: 0rem 1.5rem 0rem 1.5rem!important;
}

.TableInputModal div.scrolling.content form div textarea {
	min-height: 15rem;
	border: 0px;
	padding: 0px;
}

.ui.modal.TableInputModal>.actions {
	background: inherit;
}