@font-face {
  font-family: 'IM Fell English';
  font-style: italic;
  font-weight: 400;
  src: local('IM FELL English Italic'), local('IM_FELL_English_Italic'), url(./fonts/IM_Fell_English/IMFeENit28P.ttf) format('truetype');
}
@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL English Roman'), local('IM_FELL_English_Roman'), url(./fonts/IM_Fell_English/IMFeENrm28P.ttf) format('truetype');
}
@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL English SC'), local('IM_FELL_English_SC'), url(./fonts/IM_Fell_English_SC/IMFeENsc28P.ttf) format('truetype');
}

/* To make color='red' equivalent to color='google plus' in Semantic UI menus */
.ui.menu .red.active.item, .ui.red.menu .active.item {
    border-color: #dd4b3a!important;
    color: #dd4b3a!important;
}

.App {
}

#AppMenuItemHexpop h2 {
	font-family: 'IM Fell English SC';
}