.App {
	height: 100%;
}

#AppGrid {
	height: 100%;
}

#AppGridRowWorkspace { 
	margin-left: 6.7rem;
	height: 100%;
}

#AppGridLeftWorkspace {
	height: 100%;
}

#AppGridRightWorkspace {
	height: 100%;
}

#AppMenuItemHexpop {
	margin-top: 1rem;
}