.App {
	height: inherit;
}

#AppGrid {
	height: inherit;
}

#AppGridRowWorkspace { 
	margin-left: 6.7rem;
	height: inherit;
}

#AppGridColumnWorkspace {
	height: inherit;
}

#AppMenuItemHexpop {
	margin-top: 1rem;
}