.App {
	height: inherit;
}

#AppGrid {
	height: inherit;
}

#AppGridRow1Workspace { 
	margin-left: 6.7rem;
}

#AppGridRowWorkspace { 
	margin-left: 6.7rem;
	height: inherit;
}

#AppGridLeftWorkspace {
	height: 100%;
}
